# Cleaning The Metropolitan Museum of Art Open Access dataset

The Metropolitan Museum of Art presents over 5,000 years of art from around the world.

The Metropolitan Museum of Art provides select datasets of information on more than 480,000 artworks in its Collection. This work is published from: The United States Of America. The datasets support the search, use, and interaction with the Museumâ€™s collection.

At this time, the datasets are available in CSV format, encoded in UTF-8.

Issues: Missing values, inconsistent information, missing documentation, possible duplication, mixed text and numeric data.

## Libraries

In [169]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib
import matplotlib.pyplot as plt

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('scikit-learn version:', sk.__version__)
print('matplotlib version:', matplotlib.__version__)

numpy version: 1.26.4
pandas version: 2.1.4
scikit-learn version: 1.2.2
matplotlib version: 3.8.0

## Add data source

In [170]:
df_met_objects = pd.read_csv('openaccess/MetObjects.csv', low_memory=False)

## Inspect dataset

In [171]:
df_met_objects.info()
df_met_objects.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            484956 non-null  object
 1   Is Highlight             484956 non-null  bool
 2   Is Timeline Work         484956 non-null  bool
 3   Is Public Domain         484956 non-null  bool
 4   Object ID                484956 non-null  int64
 5   Gallery Number           49541 non-null   object
 6   Department               484956 non-null  object
 7   AccessionYear            481094 non-null  object
 8   Object Name              482690 non-null  object
 9   Title                    456153 non-null  object
 10  Culture                  208190 non-null  object
 11  Period                   91143 non-null   object
 12  Dynasty                  23201 non-null   object
 13  Reign                    11236 non-null   object
 14  Portfolio                26514 non-null   object
 15  Constituent ID           282513 non-null  object
 16  Artist Role              282513 non-null  object
 17  Artist Prefix            282513 non-null  object
 18  Artist Display Name      282513 non-null  object
 19  Artist Display Bio       280423 non-null  object
 20  Artist Suffix            282465 non-null  object
 21  Artist Alpha Sort        282513 non-null  object
 22  Artist Nationality       282513 non-null  object
 23  Artist Begin Date        282513 non-null  object
 24  Artist End Date          282513 non-null  object
 25  Artist Gender            106482 non-null  object
 26  Artist ULAN URL          227441 non-null  object
 27  Artist Wikidata URL      224202 non-null  object
 28  Object Date              471525 non-null  object
 29  Object Begin Date        484956 non-null  int64
 30  Object End Date          484956 non-null  int64
 31  Medium                   477741 non-null  object
 32  Dimensions               409898 non-null  object
 33  Credit Line              484305 non-null  object
 34  Geography Type           59959 non-null   object
 35  City                     32754 non-null   object
 36  State                    2621 non-null    object
 37  County                   8559 non-null    object
 38  Country                  76007 non-null   object
 39  Region                   31500 non-null   object
 40  Subregion                22143 non-null   object
 41  Locale                   15739 non-null   object
 42  Locus                    7518 non-null    object
 43  Excavation               16571 non-null   object
 44  River                    2092 non-null    object
 45  Classification           406239 non-null  object
 46  Rights and Reproduction  24529 non-null   object
 47  Link Resource            484956 non-null  object
 48  Object Wikidata URL      69154 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               484956 non-null  object
 51  Tags                     192455 non-null  object
 52  Tags AAT URL             192455 non-null  object
 53  Tags Wikidata URL        192455 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 190.1+ MB

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
count,484956,484956,484956,484956,484956.000000,49541,484956,481094,482690,456153,...,2092,406239,24529,484956,69154,0.0,484956,192455,192455,192455
unique,481656,2,2,2,NaN,379,19,180,28631,245800,...,228,1244,1507,484956,69076,NaN,1,44171,43699,43886
top,62.635,False,False,True,NaN,774,Drawings and Prints,1963,Print,Terracotta fragment of a kylix (drinking cup),...,Upper Sepik River,Prints,"Â© Walker Evans Archive, The Metropolitan Museu...",http://www.metmuseum.org/art/collection/search/1,https://www.wikidata.org/wiki/Q97732991,NaN,"Metropolitan Museum of Art, New York, NY",Flowers,http://vocab.getty.edu/page/aat/300132399,https://www.wikidata.org/wiki/Q506
freq,4,482179,476977,248472,NaN,7547,172630,41980,102986,6415,...,362,84326,7364,1,17,NaN,484956,8543,8543,8543
mean,NaN,NaN,NaN,NaN,394499.940353,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,242732.561637,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,212379.750000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,374771.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,570971.250000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,900748.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
df_met_objects.drop_duplicates()

# Rename columns to lowercase and replace whitespace with underscores
df_met_objects.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)
# accession_year was formatted as Pascal, so it needed manual separation
df_met_objects.rename(columns={'accessionyear': 'accession_year'}, inplace=True)

df_met_objects.drop(inplace=True, columns=['object_number', 'artist_ulan_url', 'artist_wikidata_url', 'artist_alpha_sort', 'object_date', 'rights_and_reproduction', 'link_resource', 'object_wikidata_url', 'metadata_date', 'repository', 'tags', 'tags_aat_url', 'tags_wikidata_url' ])

# TODO dtypes, Transform | character
# Suggestion gender decider based on name if the value is NaN

df_met_objects.accession_year = pd.to_datetime(df_met_objects.accession_year, format='mixed')

df_met_objects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 41 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   is_highlight         484956 non-null  bool
 1   is_timeline_work     484956 non-null  bool
 2   is_public_domain     484956 non-null  bool
 3   object_id            484956 non-null  int64
 4   gallery_number       49541 non-null   object
 5   department           484956 non-null  string
 6   accession_year       481094 non-null  datetime64[ns]
 7   object_name          482690 non-null  object
 8   title                456153 non-null  object
 9   culture              208190 non-null  object
 10  period               91143 non-null   object
 11  dynasty              23201 non-null   object
 12  reign                11236 non-null   object
 13  portfolio            26514 non-null   object
 14  constituent_id       282513 non-null  object
 15  artist_role          282513 non-null  object
 16  artist_prefix        282513 non-null  object
 17  artist_display_name  282513 non-null  object
 18  artist_display_bio   280423 non-null  object
 19  artist_suffix        282465 non-null  object
 20  artist_nationality   282513 non-null  object
 21  artist_begin_date    282513 non-null  object
 22  artist_end_date      282513 non-null  object
 23  artist_gender        106482 non-null  object
 24  object_begin_date    484956 non-null  int64
 25  object_end_date      484956 non-null  int64
 26  medium               477741 non-null  object
 27  dimensions           409898 non-null  object
 28  credit_line          484305 non-null  object
 29  geography_type       59959 non-null   object
 30  city                 32754 non-null   object
 31  state                2621 non-null    object
 32  county               8559 non-null    object
 33  country              76007 non-null   object
 34  region               31500 non-null   object
 35  subregion            22143 non-null   object
 36  locale               15739 non-null   object
 37  locus                7518 non-null    object
 38  excavation           16571 non-null   object
 39  river                2092 non-null    object
 40  classification       406239 non-null  object
dtypes: bool(3), datetime64[ns](1), int64(3), object(33), string(1)
memory usage: 142.0+ MB

In [178]:
df_met_objects

,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accession_year,object_name,title,culture,...,state,county,country,region,subregion,locale,locus,excavation,river,classification
0,False,False,False,1,NaN,The American Wing,1979-01-01,Coin,One-dollar Liberty Head Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,False,False,2,NaN,The American Wing,1980-01-01,Coin,Ten-dollar Liberty Head Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,3,NaN,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,False,False,4,NaN,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,False,5,NaN,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484951,False,False,False,900605,NaN,Drawings and Prints,1955-01-01,Print,Holiday Card,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
484952,False,False,False,900606,NaN,Drawings and Prints,1977-01-01,Print,Brooklyn Local,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
484953,False,False,False,900633,NaN,Drawings and Prints,1933-01-01,Print,Yesterday and Today,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints
484954,True,False,False,900717,NaN,The Libraries,NaT,NaN,"De la loi du contraste simultanÃ© des couleurs,...",NaN,...,NaN,NaN,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484955,False,False,False,900748,NaN,Drawings and Prints,1917-01-01,Print,Madison Square - Fifth Avenue and Broadway at ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prints

In [175]:
# df_met_objects.drop(columns=[df_met_objects.Ar, 'Co'])
s = df_met_objects.locus.astype(pd.StringDtype())

In [176]:


df_met_objects.department = df_met_objects.department.astype(pd.StringDtype())

df_met_objects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   object_number            484956 non-null  object
 1   is_highlight             484956 non-null  bool
 2   is_timeline_work         484956 non-null  bool
 3   is_public_domain         484956 non-null  bool
 4   object_id                484956 non-null  int64
 5   gallery_number           49541 non-null   object
 6   department               484956 non-null  string
 7   accession_year           481094 non-null  datetime64[ns]
 8   object_name              482690 non-null  object
 9   title                    456153 non-null  object
 10  culture                  208190 non-null  object
 11  period                   91143 non-null   object
 12  dynasty                  23201 non-null   object
 13  reign                    11236 non-null   object
 14  portfolio                26514 non-null   object
 15  constituent_id           282513 non-null  object
 16  artist_role              282513 non-null  object
 17  artist_prefix            282513 non-null  object
 18  artist_display_name      282513 non-null  object
 19  artist_display_bio       280423 non-null  object
 20  artist_suffix            282465 non-null  object
 21  artist_alpha_sort        282513 non-null  object
 22  artist_nationality       282513 non-null  object
 23  artist_begin_date        282513 non-null  object
 24  artist_end_date          282513 non-null  object
 25  artist_gender            106482 non-null  object
 26  artist_ulan_url          227441 non-null  object
 27  artist_wikidata_url      224202 non-null  object
 28  object_date              471525 non-null  object
 29  object_begin_date        484956 non-null  int64
 30  object_end_date          484956 non-null  int64
 31  medium                   477741 non-null  object
 32  dimensions               409898 non-null  object
 33  credit_line              484305 non-null  object
 34  geography_type           59959 non-null   object
 35  city                     32754 non-null   object
 36  state                    2621 non-null    object
 37  county                   8559 non-null    object
 38  country                  76007 non-null   object
 39  region                   31500 non-null   object
 40  subregion                22143 non-null   object
 41  locale                   15739 non-null   object
 42  locus                    7518 non-null    object
 43  excavation               16571 non-null   object
 44  river                    2092 non-null    object
 45  classification           406239 non-null  object
 46  rights_and_reproduction  24529 non-null   object
 47  link_resource            484956 non-null  object
 48  object_wikidata_url      69154 non-null   object
 49  metadata_date            0 non-null       float64
 50  repository               484956 non-null  object
 51  tags                     192455 non-null  object
 52  tags_aat_url             192455 non-null  object
 53  tags_wikidata_url        192455 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(1), int64(3), object(45), string(1)
memory usage: 190.1+ MB