# Cleaning The Metropolitan Museum of Art Open Access dataset

The Metropolitan Museum of Art presents over 5,000 years of art from around the world.

The Metropolitan Museum of Art provides select datasets of information on more than 480,000 artworks in its Collection. This work is published from: The United States Of America. The datasets support the search, use, and interaction with the Museumâ€™s collection.

At this time, the datasets are available in CSV format, encoded in UTF-8.

Issues: Missing values, inconsistent information, missing documentation, possible duplication, mixed text and numeric data.

## Importing Libraries

In [122]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib
import matplotlib.pyplot as plt

print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)
print('scikit-learn version:', sk.__version__)
print('matplotlib version:', matplotlib.__version__)

numpy version: 1.26.4
pandas version: 2.1.4
scikit-learn version: 1.2.2
matplotlib version: 3.8.0

## Loading the data source

In [123]:
df_met_objects = pd.read_csv('openaccess/MetObjects.csv', low_memory=False)

## Explore dataset

In [124]:
df_met_objects.info()
df_met_objects.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 54 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Object Number            484956 non-null  object
 1   Is Highlight             484956 non-null  bool
 2   Is Timeline Work         484956 non-null  bool
 3   Is Public Domain         484956 non-null  bool
 4   Object ID                484956 non-null  int64
 5   Gallery Number           49541 non-null   object
 6   Department               484956 non-null  object
 7   AccessionYear            481094 non-null  object
 8   Object Name              482690 non-null  object
 9   Title                    456153 non-null  object
 10  Culture                  208190 non-null  object
 11  Period                   91143 non-null   object
 12  Dynasty                  23201 non-null   object
 13  Reign                    11236 non-null   object
 14  Portfolio                26514 non-null   object
 15  Constituent ID           282513 non-null  object
 16  Artist Role              282513 non-null  object
 17  Artist Prefix            282513 non-null  object
 18  Artist Display Name      282513 non-null  object
 19  Artist Display Bio       280423 non-null  object
 20  Artist Suffix            282465 non-null  object
 21  Artist Alpha Sort        282513 non-null  object
 22  Artist Nationality       282513 non-null  object
 23  Artist Begin Date        282513 non-null  object
 24  Artist End Date          282513 non-null  object
 25  Artist Gender            106482 non-null  object
 26  Artist ULAN URL          227441 non-null  object
 27  Artist Wikidata URL      224202 non-null  object
 28  Object Date              471525 non-null  object
 29  Object Begin Date        484956 non-null  int64
 30  Object End Date          484956 non-null  int64
 31  Medium                   477741 non-null  object
 32  Dimensions               409898 non-null  object
 33  Credit Line              484305 non-null  object
 34  Geography Type           59959 non-null   object
 35  City                     32754 non-null   object
 36  State                    2621 non-null    object
 37  County                   8559 non-null    object
 38  Country                  76007 non-null   object
 39  Region                   31500 non-null   object
 40  Subregion                22143 non-null   object
 41  Locale                   15739 non-null   object
 42  Locus                    7518 non-null    object
 43  Excavation               16571 non-null   object
 44  River                    2092 non-null    object
 45  Classification           406239 non-null  object
 46  Rights and Reproduction  24529 non-null   object
 47  Link Resource            484956 non-null  object
 48  Object Wikidata URL      69154 non-null   object
 49  Metadata Date            0 non-null       float64
 50  Repository               484956 non-null  object
 51  Tags                     192455 non-null  object
 52  Tags AAT URL             192455 non-null  object
 53  Tags Wikidata URL        192455 non-null  object
dtypes: bool(3), float64(1), int64(3), object(47)
memory usage: 190.1+ MB

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
count,484956,484956,484956,484956,484956.000000,49541,484956,481094,482690,456153,...,2092,406239,24529,484956,69154,0.0,484956,192455,192455,192455
unique,481656,2,2,2,NaN,379,19,180,28631,245800,...,228,1244,1507,484956,69076,NaN,1,44171,43699,43886
top,62.635,False,False,True,NaN,774,Drawings and Prints,1963,Print,Terracotta fragment of a kylix (drinking cup),...,Upper Sepik River,Prints,"Â© Walker Evans Archive, The Metropolitan Museu...",http://www.metmuseum.org/art/collection/search/1,https://www.wikidata.org/wiki/Q97732991,NaN,"Metropolitan Museum of Art, New York, NY",Flowers,http://vocab.getty.edu/page/aat/300132399,https://www.wikidata.org/wiki/Q506
freq,4,482179,476977,248472,NaN,7547,172630,41980,102986,6415,...,362,84326,7364,1,17,NaN,484956,8543,8543,8543
mean,NaN,NaN,NaN,NaN,394499.940353,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,242732.561637,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,212379.750000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,374771.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,570971.250000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,900748.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning dataset

### Renaming columns

In [125]:
# Rename columns to lowercase and replace whitespace with underscores
df_met_objects.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)

# accession_year was formatted as Pascal, so it needed manual separation
df_met_objects.rename(columns={'accessionyear': 'accession_year'}, inplace=True)

### Drop uninterested columns
- Dataset contains more representations for one value; 'state'/'county', 'object_date'/'object_begin_date','object_end_date'
- Links/URL is not interesting; 'artist_ulan_url', 'artist_wikidata_url', 'link_resource', 'object_wikidata_url', 'tags_aat_url', 'tags_wikidata_url'
- IDs are not interesting; 'object_number', 'constituent_id'
- Column is empty; 'metadata_date'

In [126]:
df_met_objects.drop(inplace=True, columns=['object_number', 'constituent_id', 'artist_prefix', 'artist_suffix', 'artist_ulan_url', 'artist_wikidata_url', 'artist_alpha_sort', 'geography_type', 'state', 'object_date', 'rights_and_reproduction', 'link_resource', 'object_wikidata_url', 'metadata_date', 'repository', 'tags', 'tags_aat_url', 'tags_wikidata_url' ])

### Convert types
- Most column types are object but they are strings
- Column 'gallery_number' has different units for the same variable; number/string

In [127]:
# TODO dtypes, Transform | character
# Suggestion gender decider based on name if the value is NaN

# Get columns with dtype 'object'
object_columns = df_met_objects.select_dtypes(include=['object']).columns

# Convert selected object columns to pd.StringDtype
df_met_objects[object_columns] = df_met_objects[object_columns].astype(pd.StringDtype())

df_met_objects.gallery_number = pd.to_numeric(df_met_objects.gallery_number, downcast='unsigned', errors='coerce')
df_met_objects.accession_year = pd.to_datetime(df_met_objects.accession_year, format='mixed')

df_met_objects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484956 entries, 0 to 484955
Data columns (total 36 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   is_highlight         484956 non-null  bool
 1   is_timeline_work     484956 non-null  bool
 2   is_public_domain     484956 non-null  bool
 3   object_id            484956 non-null  int64
 4   gallery_number       49504 non-null   UInt16
 5   department           484956 non-null  string
 6   accession_year       481094 non-null  datetime64[ns]
 7   object_name          482690 non-null  string
 8   title                456153 non-null  string
 9   culture              208190 non-null  string
 10  period               91143 non-null   string
 11  dynasty              23201 non-null   string
 12  reign                11236 non-null   string
 13  portfolio            26514 non-null   string
 14  artist_role          282513 non-null  string
 15  artist_display_name  282513 non-null  string
 16  artist_display_bio   280423 non-null  string
 17  artist_nationality   282513 non-null  string
 18  artist_begin_date    282513 non-null  string
 19  artist_end_date      282513 non-null  string
 20  artist_gender        106482 non-null  string
 21  object_begin_date    484956 non-null  int64
 22  object_end_date      484956 non-null  int64
 23  medium               477741 non-null  string
 24  dimensions           409898 non-null  string
 25  credit_line          484305 non-null  string
 26  city                 32754 non-null   string
 27  county               8559 non-null    string
 28  country              76007 non-null   string
 29  region               31500 non-null   string
 30  subregion            22143 non-null   string
 31  locale               15739 non-null   string
 32  locus                7518 non-null    string
 33  excavation           16571 non-null   string
 34  river                2092 non-null    string
 35  classification       406239 non-null  string
dtypes: UInt16(1), bool(3), datetime64[ns](1), int64(3), string(28)
memory usage: 121.2 MB

In [137]:
df_met_objects.head(450)

,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accession_year,object_name,title,culture,...,city,county,country,region,subregion,locale,locus,excavation,river,classification
0,False,False,False,1,<NA>,The American Wing,1979-01-01,Coin,One-dollar Liberty Head Coin,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,False,False,False,2,<NA>,The American Wing,1980-01-01,Coin,Ten-dollar Liberty Head Coin,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,False,False,False,3,<NA>,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,False,False,False,4,<NA>,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,False,False,False,5,<NA>,The American Wing,1967-01-01,Coin,Two-and-a-Half Dollar Coin,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,False,False,True,505,774,The American Wing,1967-01-01,Berry dish,Berry Dish,American,...,Sandwich,<NA>,United States,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
446,False,False,True,506,774,The American Wing,1968-01-01,Spoon,Berry Spoon,American,...,New York,<NA>,United States,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
447,False,False,True,507,<NA>,The American Wing,1910-01-01,Betty lamp,Betty Lamp,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
448,False,False,True,508,774,The American Wing,1934-01-01,Betty lamp,Betty Lamp,American,...,<NA>,<NA>,United States,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
449,False,False,True,509,774,The American Wing,1934-01-01,Betty lamp,Betty Lamp,American,...,<NA>,<NA>,United States,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>